[submodule "mbedtls"]
	path = ext/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
	ignore = dirty
[submodule "ext/qcbor"]
	path = ext/qcbor
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "ext/t_cose"]
	path = ext/t_cose
	url = https://github.com/laurencelundblade/t_cose.git
	ignore = dirty
[submodule "ext/cpputest"]
	path = ext/cpputest
	url = https://github.com/cpputest/cpputest.git
