#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: Copyright TF-RMM Contributors.
#

%YAML 1.2
---
description: >-
  Brings together a software stack to demonstrate Arm CCA running on FVP in a
  three-world configuration with Device Assignment (DA) feature based on RMM
  specification 1.1-alp12. This overlay enables necessary config options for
  build in RMM and Linux. Enables FVP run config with extra command line
  parameters to support DA.

layers:
  # Include layers from shrinkwrap repo
  - buildroot.yaml
  # Include layers from RMM repo
  - rmm.yaml
  - rmm-debug.yaml
  - rmm-v1_1.yaml
  - model-enable-da.yaml

build:
  rmm:
    repo:
      revision: main
    build:
      # Create a sample disk image for AHCI controller
      - dd if=/dev/zero of=${param:builddir}/ahci-disk.img bs=1M count=64 status=none
    artifacts:
      DISK: ${param:builddir}/ahci-disk.img

  linux:
    repo:
      revision: cca/tdisp-upstream-post-v1.3
    prebuild:
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_PCI_TSM
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_PCI_DOE
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_ARM_CCA_GUEST
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_TSM_GUEST
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_TSM_REPORTS
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_TSM_MEASUREMENTS
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_ARM_CCA_HOST
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_TSM
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_IOMMUFD
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_ARM_SMMU_V3_IOMMUFD
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_IOMMUFD_DRIVER_CORE
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_IOMMUFD_VFIO_CONTAINER
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_IOMMUFD_DRIVER
      - ./scripts/config --file ${param:builddir}/.config --enable CONFIG_VFIO_DEVICE_CDEV
      - ./scripts/config --file ${param:builddir}/.config --disable CONFIG_VFIO_CONTAINER

  kvmtool:
    repo:
      dtc:
        revision: v1.6.1
      kvmtool:
        revision: cca/tdisp-upstream-post-v1.3
