#
# SPDX-License-Identifier: BSD-3-Clause
# SPDX-FileCopyrightText: Copyright TF-RMM Contributors.
#

%YAML 1.2
---
description: >-
  This overlay enables necessary options and sets up necessary related files
  for FVP to support Device Assignment (DA) feature based on RMM specification.

build:
  rmm:
    build:
      # Copy sample_keys from libspdm that will be used as device certificates
      - cp -r ext/libspdm/unit_test/sample_key ${param:builddir}
      # Copy pci.json to build dir to be used as base for pci_fixedup.json
      - cp tools/shrinkwrap/pci.json ${param:builddir}
    artifacts:
      SAMPLE_KEY: ${param:builddir}/sample_key
      PCI_HIERARCHY_FILE: ${param:builddir}/pci.json
      FIX_PCI_JSON_FILE: ${param:sourcedir}/tools/shrinkwrap/fix_pci_json.sh

run:
  rtvars:
    SAMPLE_KEY:
      type: path
      value: ${artifact:SAMPLE_KEY}
    PCI_HIERARCHY_FILE_FIXED:
      type: path
      value: ${param:packagedir}/pci_fixedup.json

  prerun:
    # Preprocess pci.json to replace <fixup_path> with actual location.
    - bash ${artifact:FIX_PCI_JSON_FILE} ${param:packagedir}

  params:
    -C pci.enable_device_id_checks: 0
    # Enable access control services
    -C pci.hierarchy_file_name: ${rtvar:PCI_HIERARCHY_FILE_FIXED}
    # Set SMMU related parameters
    -C pci.pci_smmuv3.mmu.SMMU_AIDR: 0x3
    -C pci.pci_smmuv3.mmu.SMMU_IDR0: 0x498F36BB
    -C pci.pci_smmuv3.mmu.SMMU_IDR1: 0xCE73D10
    -C pci.pci_smmuv3.mmu.SMMU_IDR3: 0x773C
    -C pci.pci_smmuv3.mmu.SMMU_IDR5: 0x4F6
    -C pci.pci_smmuv3.mmu.SMMU_S_IDR0: 0x1000000
    -C pci.pci_smmuv3.mmu.SMMU_S_IDR1: 0xA0000002
    -C pci.pci_smmuv3.mmu.SMMU_S_IDR2: 0x0
    -C pci.pci_smmuv3.mmu.SMMU_S_IDR3: 0x0
    -C pci.pci_smmuv3.mmu.SMMU_ROOT_IDR0: 0x80000F
    -C pci.pci_smmuv3.mmu.SMMU_ROOT_IIDR: 0x43B
    -C pci.pci_smmuv3.mmu.SMMU_R_IDR0: 0x1012400
    -C pci.pci_smmuv3.mmu.SMMU_R_IDR3: 0x10000
    -C pci.pci_smmuv3.mmu.SMMU_R_MECIDR: 0xF
    -C pci.pci_smmuv3.mmu.ish_is_osh: 1
    -C pci.pci_smmuv3.mmu.root_register_page_offset: 0x20000
    # Below options are workaround for missing TLB invalidates in RMM and TF-A.
    -C pci.pci_smmuv3.mmu.size_of_tlb: 1
    -C pci.pci_smmuv3.mmu.size_of_gpttlb: 1
    # Below options are for passing MECID.
    -C pci.pci_smmuv3.mmu.mec_attribute_transform: "UserFlags[31:16]=MECID,UserFlags[15:0]=0,ExtendedID=0"
    -C pci.pci_smmuv3.mmu.mpam_attribute_transform: "ExtendedID[62:55]=MPAM_PMG,ExtendedID[54:39]=MPAM_PARTID,ExtendedID[38:37]=MPAM_SP"
    -C pci.pci_smmuv3.mmu.output_attribute_transform: "ExtendedID[31:0]=DeviceID"
    # Configure the interconnect before use
    -C cci550.force_on_from_start: 1
